/* Create a box that wraps the whole page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the color of the top of the page, above the image blue and its text white */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Set the background color of the body of the page grey */
body {
    background-color: #d9dcd6;
}

/* Set the Page header "Horiseon" and the "subpages" aligned and within the blue box */
h1 {
    display: inline-block;
    font-size: 48px;
}
/* Change the color of "seo" within the word Horiseon grey */
.seo {
    color: #d9dcd6;
}
/* Sets marings/distance of text from edges of the box. Sets text-font and size. It sets different font options in case the browser doesn't support one of them */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Eliminates the markers in front of our list */
.header div li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
/* Sets the color of the hyperlinks white and eliminates the default underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* It places the main background picture*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Allows content boxes to be aligned on the left -horizontals- and on the right -vertical- */ 
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets the font-size of all paragraphs on the page*/
p {
    font-size: 16px;
}

/* float-left and -right align our images and text of the subpages/ content boxes we have */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Modifies the container box of Search Engine optimization */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Modifies the container box of Online reputation management */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Modifies the container box of Social media marketing */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} 

/* Sets the height value of our search engine, online reputation and social media images */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* Establishes the position and size of the text of all h2 within the content class (search eng. online reput. socil media) */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Establishes the color, position, size, text-family of the container box on the right of te page. Lead generation, brand awareness cost management) */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets the position to the margins for all the <div> elements within the class  "benefits" */
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets the bottom margin and position of text of al the h3 underclass benefits*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets the position and dimensions of the image in the benefits content box*/
.benefits img {
    display: block;
    margin: 5px auto;
    max-width: 150px;
}

/*Align <p> text in benefits class to the center */
.benefits p {
    text-align: center;
}

/* sets properties of manufacturer of the page and its copyright*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}